In [15]:
import pandas 
import quandl
import sklearn
import math

In [30]:
import pandas 
import quandl
import sklearn
import math

df = quandl.get("WIKI/KO", trim_start = "2000-12-12", trim_end = "2014-12-30", authtoken='fzvgru14QQMetF9SeL_z')

df.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2000-12-12,57.69,58.69,57.63,58.00,4004100.0,0.0,1.0,18.473945,18.794173,18.454732,18.573216,8008200.0
2000-12-13,57.75,58.31,57.25,57.81,3704900.0,0.0,1.0,18.493159,18.672487,18.333045,18.512373,7409800.0
2000-12-14,56.00,57.44,55.75,57.00,5023800.0,0.0,1.0,17.932760,18.393888,17.852703,18.252988,10047600.0
2000-12-15,55.00,56.69,53.50,53.50,13770200.0,0.0,1.0,17.612532,18.153717,17.132191,17.132191,27540400.0
2000-12-18,54.00,55.56,53.63,54.88,5152300.0,0.0,1.0,17.292305,17.791860,17.173820,17.574105,10304600.0

In [31]:
df.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2000-12-12,57.69,58.69,57.63,58.00,4004100.0,0.0,1.0,18.473945,18.794173,18.454732,18.573216,8008200.0
2000-12-13,57.75,58.31,57.25,57.81,3704900.0,0.0,1.0,18.493159,18.672487,18.333045,18.512373,7409800.0
2000-12-14,56.00,57.44,55.75,57.00,5023800.0,0.0,1.0,17.932760,18.393888,17.852703,18.252988,10047600.0
2000-12-15,55.00,56.69,53.50,53.50,13770200.0,0.0,1.0,17.612532,18.153717,17.132191,17.132191,27540400.0
2000-12-18,54.00,55.56,53.63,54.88,5152300.0,0.0,1.0,17.292305,17.791860,17.173820,17.574105,10304600.0

In [32]:


df = quandl.get("WIKI/KO", trim_start = "2000-12-12", trim_end = "2014-12-30", authtoken='fzvgru14QQMetF9SeL_z')

df.head()


df=df[['Adj. Open','Adj. High','Adj. Low','Adj. Close','Adj. Volume']]
df['HL_PTC']=(df['Adj. High']-df['Adj. Close'])/df['Adj. Close']*100
df['PC_Percentage']=(df['Adj. Close']-df['Adj. Open'])/df['Adj. Open']*100
df=df[['Adj. Close','HL_PTC','PC_Percentage','Adj. Volume']]
df.head()
len(df)

3533

In [33]:
forcast_col='Adj. Close'
df.fillna(-99999.9999,inplace=True)
forcast_out=int(math.ceil(0.1*len(df)))
print(df[forcast_col].shift(-forcast_out))

Date
2000-12-12    18.556395
2000-12-13    18.540132
2000-12-14    18.279920
2000-12-15    18.039223
2000-12-18    18.279920
2000-12-19    18.439300
2000-12-20    18.279920
2000-12-21    17.772505
2000-12-22    17.613125
2000-12-26    17.691189
2000-12-27    18.071750
2000-12-28    17.574093
2000-12-29    17.564336
2001-01-02    18.019707
2001-01-03    17.613125
2001-01-04    17.580599
2001-01-05    17.476514
2001-01-08    17.564336
2001-01-09    17.785516
2001-01-10    17.792045
2001-01-11    17.906306
2001-01-12    18.036890
2001-01-16    18.053213
2001-01-17    17.981392
2001-01-18    18.190326
2001-01-19    18.281735
2001-01-22    18.591871
2001-01-23    18.102182
2001-01-24    18.131563
2001-01-25    18.311116
                ...
2014-11-17          NaN
2014-11-18          NaN
2014-11-19          NaN
2014-11-20          NaN
2014-11-21          NaN
2014-11-24          NaN
2014-11-25          NaN
2014-11-26          NaN
2014-11-28          NaN
2014-12-01          NaN
2014-12-02          NaN
2014-12-03          NaN
2014-12-04          NaN
2014-12-05          NaN
2014-12-08          NaN
2014-12-09          NaN
2014-12-10          NaN
2014-12-11          NaN
2014-12-12          NaN
2014-12-15          NaN
2014-12-16          NaN
2014-12-17          NaN
2014-12-18          NaN
2014-12-19          NaN
2014-12-22          NaN
2014-12-23          NaN
2014-12-24          NaN
2014-12-26          NaN
2014-12-29          NaN
2014-12-30          NaN
Name: Adj. Close, Length: 3533, dtype: float64

In [34]:
l=[34,108,64,88,99,51]
m= [5,17,11,8,14,5]
k=[]
t=[]
d=[]
e=[]

u=0
x=0
y=0

for i in l:
    u=u+1
    x=x+i


for h in m:
    y=y+h
    
    
xmean=x/u
ymean=y/u

        
for n in l:
    a=(n-xmean)
    
for o in m:
    b=(o-ymean)
    c= a*b
    k.append(c)
     
    y=a**2*b**2
    d.append(y)
    
for i in k:
    if i <=0:
        i=-1*i
        e.append(i)
    else:
        e.append(i)
        
k
sum(e)

552.0

In [35]:
l=[34,108,64,88,99,51]
u=0
x=0
y=0

for i in l:
    u=u+1
    x=x+i
    
    
for h in m:
    y=y+h
    
xmean=x/u
ymean=y/u
        
for n in l:
    a=(n-xmean)
    

print(xmean, ymean)

74.0 10.0

In [36]:
import math   # This will import math module

print ("math.ceil(-45.17) : ", math.ceil(-45.17))

math.ceil(-45.17) :  -45

# 3 Regression Features and Labels - Practical Machine Learning Tutorial with Python

In [41]:
import pandas 
import quandl
import sklearn
import math

df = quandl.get("WIKI/KO",trim_start ="2000-12-12", trim_end = "2014-12-30", authtoken='fzvgru14QQMetF9SeL_z')

df.head()


df=df[['Adj. Open','Adj. High','Adj. Low','Adj. Close','Adj. Volume']]
df['HL_PTC']=(df['Adj. High']-df['Adj. Close'])/df['Adj. Close']*100
df['PC_Percentage']=(df['Adj. Close']-df['Adj. Open'])/df['Adj. Open']*100
df=df[['Adj. Close','HL_PTC','PC_Percentage','Adj. Volume']]
df.head()
len(df)


forcast_col='Adj. Close'
df.fillna(-99999.9999,inplace=True)
forcast_out=int(math.ceil(0.1*len(df)))
df['Label']= df[forcast_col].shift(-forcast_out)
df.head()

            Adj. Close    HL_PTC  PC_Percentage  Adj. Volume      Label
Date
2000-12-12   18.573216  1.189655       0.537355    8008200.0  18.556395
2000-12-13   18.512373  0.864902       0.103896    7409800.0  18.540132
2000-12-14   18.252988  0.771930       1.785714   10047600.0  18.279920
2000-12-15   17.132191  5.962617      -2.727273   27540400.0  18.039223
2000-12-18   17.574105  1.239067       1.629630   10304600.0  18.279920

# Regression Training and Testing - Practical Machine Learning Tutorial with Python p.4